<md-dialog aria-label="Iniciar sesi&oacute;n" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Iniciar sesi&oacute;n</h2>
            </div>
        </md-toolbar>
        <md-content layout-padding>
            <md-input-container class="md-block">
                <label>Nombre de usuario</label>
                <input type="email" maxlength="50">
            </md-input-container>
            <md-input-container>
                <label>Contrase&ntilde;a</label>
                <input type="password" maxlength="20">
            </md-input-container>
        </md-content>
        <footer>
            <md-button class="mdl-button mdl-js-button mdl-button--colored" style="color: white; background-color: limegreen; width: 150px;">Iniciar sesi&oacute;n</md-button>
            <md-button class="mdl-button mdl-js-button mdl-button--colored" style="color: white; background-color: red; width: 150px;" ng-click="cancel()">Cerrar</md-button>
        </footer>
    </form>
</md-dialog>